---
export const prerender = false;

import Layout from "../layouts/Layout.astro";
import MeetingForm from "../lib/components/MeetingForm.tsx";
---

<Layout>
  <main>
    <MeetingForm client:only/>
  </main>
</Layout>

<style>
main {
  min-height: 100vh;
}
</style>