---
/** biome-ignore-all lint/correctness/noUnusedImports: We barely use Astro. When biome supports Astro stably, we'll remove this. But for now it's just not worth it. */
export const prerender = false;

import Layout from "../layouts/Layout.astro";
import MeetingForm from "../lib/components/MeetingForm.tsx";
---

<Layout>
  <main>
    <MeetingForm client:only/>
  </main>
</Layout>

<style>
main {
  min-height: 100vh;
}
</style>
