---
/** biome-ignore-all lint/correctness/noUnusedImports: We barely use Astro. When biome supports Astro stably, we'll remove this. But for now it's just not worth it. */

import MeetingForm from "#/src/components/CreateMeetingForm.tsx";
import Layout from "#/src/layouts/Layout.astro";
---

<Layout>
  <main>
    <MeetingForm client:load/>
  </main>
</Layout>

<style>
main {
  min-height: 100vh;
}
</style>
