---
import Layout from "../layouts/Layout.astro";
import MeetingForm from "../lib/components/MeetingForm.astro";
---

<Layout>
  <main>
    <MeetingForm />
  </main>
</Layout>

<style>
main {
  min-height: 100vh;
}
</style>