---
import Layout from "../layouts/Layout.astro";
import MeetingForm from "../lib/components/MeetingForm.astro";
---

<Layout>
    <main>
        <h1>Welcome to MakeMeet</h1>
        <p>Start by scheduling your first meeting!</p>
    </main>

    <MeetingForm />
</Layout>
