.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.border-black {
  border: 1px solid black;
}

.select-none {
  user-select: none;
}

.meeting-details {
  text-align: center;
  align-content: center;
  height: 10%;
  background-color: #aac4f5;
}

.timezone > div {
  display: inline-block;
}

.availability-chart {
  text-align: center;
  float: right;
  width: 100%;
}

.display {
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.availability-chart-days {
  display: flex;
  flex-direction: row;
  width: fit-content;
  background-color: aliceblue;
}

.availability-chart-day {
  background-color: #aac4f5;
  box-sizing: border-box;
  width: 120px;
  margin: 5px;
  text-transform: capitalize;
}

.availability-chart-grid {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: 100%;
  background-color: brown;
  /* The grid can grow up to 60% of the viewport height, but will not shrink smaller than its content. */
  /* If content is taller than 60vh, a scrollbar will appear. */
  max-height: 55vh;
  overflow-y: auto;
  border: 1px solid #ccc; /* Add a border to see the container */
}

.availability-chart-grid-day {
  box-sizing: border-box;
  width: 120px;
  margin: 5px;
}

.cell {
  height: 22px;
  font-size: 15px;
  background-color: white;
  border-bottom: solid black 1px;
}

.cell.selected {
  background-color: rgb(23, 142, 23);
  color: rgb(255, 255, 255);
}

.scale {
  text-align: center;
  margin: 10px;
}

.scale > .label {
  display: inline-block;
}

.scale-container {
  display: inline-flex;
  width: 200px;
  height: 20px;
  border: 1px solid #ccc;
  vertical-align: middle;
  flex-direction: row;
}

.scale-segment {
  flex-grow: 1;
  height: 100%;
}
