.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.border-black {
  border: 1px solid black;
}

.select-none {
  user-select: none;
}

.availability-chart {
  overflow-x: scroll;
  text-align: center;
  float: right;
  width: 100%;
}

.availability-chart-days {
  display: flex;
  flex-direction: row;
  width: fit-content;
  background-color: aliceblue;
}

.availability-chart-day {
  background-color: #aac4f5;
  box-sizing: border-box;
  width: 120px;
  margin: 5px;
  text-transform: capitalize;
}

.availability-chart-grid-container {
  height: 300px;
}

.availability-chart-grid {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: 100%;
  background-color: brown;
  /* overflow-y: scroll; */
  /* pointer-events: none; */
}

.availability-chart-grid-day {
  box-sizing: border-box;
  width: 120px;
  margin: 5px;
}

.cell {
  height: 15px;
  background-color: white;
  border-bottom: solid black 1px;
}

.cell.selected {
  background-color: rgb(0, 74, 187);
  color: rgb(255, 255, 255);
}

.scale {
  text-align: center;
  margin: 10px;
}

.scale > .label {
  display: inline-block;
}

.scale-container {
  display: inline-flex;
  width: 200px;
  height: 20px;
  border: 1px solid #ccc;
  vertical-align: middle;
  flex-direction: row;
}

.scale-segment {
  flex-grow: 1;
  height: 100%;
}
