.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.border-black {
  border: 1px solid black;
}

.availability-chart {
  background-color: aquamarine;
  overflow-x: scroll;
  text-align: center;
  float: right;
  width: 100%;
}

.availability-chart-days {
  display: flex;
  flex-direction: row;
  width: fit-content;
  background-color: aliceblue;
}

.availability-chart-day {
  background-color: #AAC4F5;
  box-sizing: border-box;
  width: 120px;
  margin: 5px;
  text-transform: capitalize;
}

.availability-chart-grid-container {
  height: 300px;
}

.availability-chart-grid {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: 100%;
  background-color: brown;
  /* overflow-y: scroll; */
  /* pointer-events: none; */
}

.availability-chart-grid-day {
  box-sizing: border-box;
  width: 120px;
  margin: 5px;
}

.cell {
  height: 15px;
  background-color: white;
  border-bottom: solid black 1px;
}

.cell.selected {
  background-color:rgb(0,74,187);
}